#mainHeading{
    margin:auto;
    display; block;
    text-align:center;
}
#navBar{
    margin-top:1.5em;
    margin-bottom:1.5em;
    width:100%;
    display:inline-block;
    text-align:center;
    border-bottom:1px double  black;
    border-radius:2px;
}
#navBar a{
    margin-left:1.5em;
    margin-right:1.5em;
    font-size:12px;
    font-style:normal;
    font-weight:600;
    text-decoration:none;
}
#navBar a:hover{
    font-size:15px;
    font-weight:800;
}
#felinex, #felinex-devices{
    margin:auto;
    display:block;
    text-align:center;
}
#felinex a, #felinex-devices a{
    font-style:normal;
    font-weight:800;
}
