html{
    background-color:lightpink;
}
#mainHeading{
    margin:auto;
    display:block;
    text-align:center;
}
#navBar{
    display:block;
    text-align:center;
    width:100%;
    border-bottom:1px double black;
    background-color:black;
}
#navBar a{
    margin-left:1.5em;
    margin-right:1.5em;
    padding-top:1.5em;
    padding-bottom:1.5em;
    font-size:12px;
    font-style:normal;
    font-weight:600;
    text-decoration:none;
    color:white;
}
#logo{
    margin:auto;
    display:block;
    text-align:center;
}
#logo img{
    width:30%;
    height:25%;
}
#meow {
    margin:auto;
    display:block;
    text-align:center;
}
#meow button{
    width:35px;
    height:20px;
    background-color:black;
    color:black;
}
#meow button:hover{
    width:40px;
    height:25px;
    color:white;
    background-color:black;
}
#footer{
    position:fixed;
    width:100%;
    bottom:0;
    left:0;
    text-align:center;
    background-color:pink;
    color:white;
}
#footer img{
    padding-left:1.5em;
    padding-right:1.5em;
    width:100px;
    height:100px;
}
