#mainHeading{
    margin:auto;
    display; block;
    text-align:center;
}
#navBar{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display:block;
    text-align: center;
    width:100%;
    border-bottom:1px double  black;
    border-radius:2px;
}
#navBar a{
    margin-left:3em;
    margin-right:3em;
    font-size:12px;
    font-style: normal;
    font-weight: 600;
}
#navBar a:hover{
    font-size:15px;
    font-weight:800;
}
